---
title: Welcome to Middleman
---

<div id="application"></div>

<!-- Simple header with scrollable tabs. -->
<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <%= partial "navbar" %>
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">Title</span>
      <div class="mdl-layout-spacer"></div>
      <div id="currencies"></div>
    </div>
    <!-- Tabs -->
    <div class="mdl-layout__tab-bar mdl-js-ripple-effect">
      <a href="#scroll-tab-1" class="mdl-layout__tab is-active">Your Resume</a>
      <a href="#scroll-tab-2" class="mdl-layout__tab">Your Brand</a>
      <a href="#scroll-tab-3" class="mdl-layout__tab">Your Blog</a>
      <a href="#scroll-tab-4" class="mdl-layout__tab">Your Startup</a>
      <a href="#scroll-tab-5" class="mdl-layout__tab">Your Dayjob</a>
      <a href="#scroll-tab-6" class="mdl-layout__tab">Your 'CoolTech'</a>
    </div>
  </header>
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title">Title</span>
  </div>
  <main class="mdl-layout__content">
    <section class="mdl-layout__tab-panel is-active" id="scroll-tab-1">
      <div class="page-content">
      </div>
    </section>

    <section class="mdl-layout__tab-panel" id="scroll-tab-2">
      <div id="actions"></div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-3">
      <div class="page-content" id="blog-posts"></div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-4">
      <div class="page-content" id="startup"></div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-5">
      <div class="page-content" id="dayjob"></div>
    </section>
    <section class="mdl-layout__tab-panel" id="scroll-tab-6">
      <div class="page-content">
        <div class="page-content" id="simulation"></div>
      </div>
    </section>
  </main>
</div>

<div id="demo-snackbar-example" class="mdl-js-snackbar mdl-snackbar">
  <div class="mdl-snackbar__text"></div>
  <button class="mdl-snackbar__action" type="button"></button>
</div>